/* Variables */
$text-color = #2d2d34
$font-family-header = 'Comfortaa', sans-serif
$font-family = 'Vera Serif', sans-serif
$header-height = 64px
$border-radius = 2px
$padding = 0.5rem
$max-width = 1000px

$color-bg = #fefefe
$color-accent = #41177c
$color-light = #ff51ed
$color-primary = #db237f

/* Classes */
.link
  cursor pointer
