/* Variables */
$text-color = #2d2d34
$font-family = 'Comfortaa', sans-serif
$header-height = 48px
$padding = 0.5rem

$color-primary = #fcfbfb
// $color-secondary =

$color-emphasize = #55286f

$color-light = #e7bbe3
$color-dark = #c884a6

/* Classes */
.link
  cursor pointer
